.social-links__div {
  display: flex;
  justify-content: center;
  align-items: center;

  .display-block__div {
    display: block;
  }
}

.social-links {
  margin: 10px;
  color: $black;
  transition: 0.3s ease-in-out;

  &:hover {
    color: rgba(0, 0, 0, 0.637);
  }
}
