.hero {
  height: 100vh;
  position: relative;
  background-color: $navy;

  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;

    p {
      font-size: 20px;
    }
  }

  .hero-content {
    align-self: center;

    .hero-text__bg {
      color: $white;
      text-align: left;

      h1 {
        font-size: 5rem;
      }

      .contact-email {
        text-align: -webkit-center;

        a {
          font-size: 1rem;
          font-weight: 600;
          color: $navy;
          background-color: $white;
          text-decoration: none;
          padding: 1rem;
          border-radius: 4rem;
          transition: all 0.3s ease-in-out 0s;

          &:hover {
            background-color: $navy;
            color: $white;
            box-shadow: 0 0 2px 2px $white;
          }
        }
      }
    }

    @media screen and (max-width: 285px) {
      margin-top: 1.4rem;
    }
  }

  @media screen and (max-width: 992px) {
    .container {
      justify-content: center;
    }
  }
}
