@import "utilities";
@import "colors";

.navbar {
  background-color: #52aaf1;
  box-shadow: 0 0 4px 1px #e3e3e3;
  // height: 4.6rem;

  .navbar-brand {
    margin-left: $margin-twenty;
    font-size: 1.8rem;
    color: $white;
    letter-spacing: 0.2rem;
    transition: 0.3s ease-in-out;

    &:hover {
      color: #e3e3e3;
    }
  }
  .navbar-toggler {
    margin-right: $margin-twenty;
  }

  .navbar-nav .nav-link {
    font-size: 18px;
    color: $white;
  }
}

.navbar-light .navbar-nav .nav-link {
  &:hover {
    color: #e3e3e3;
  }
}

a.email-nav__link {
  padding: 10px;
  display: block;
  max-width: 140px;
  color: $light-blue;
  background-color: $white;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: rgba(255, 255, 255, 0.85);
    color: $light-blue;
  }
}

div #navbarSupportedContent {
  background-color: #52aaf1;
}
