@import "media-queries";
@import "colors";

#projects {
  background-color: $navy;
}

h2 {
  font-weight: 700;
}

.modal-content {
  background-color: $very-light-blue;
}

.images-hover {
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.btn-project-detail {
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  border-radius: 5px;
  transition: .2s ease-in-out;
}
.btn-project-detail:hover {
  background-color: #ffffff;
  color: $navy;
}

@include mobile {
  .demo-btn {
    margin-top: 0.8rem;
  }
}
