@import "media-queries";

.projects {
  background-color: rgba(255, 255, 255, 0.082);
}

h2 {
  font-weight: 700;
}

.projects-container {
  border-radius: 5px;
  padding: 40px;
  background-color: $navy;
  letter-spacing: 1px;

  &__inner {
    padding: 20px;
    background-color: $very-light-blue;
    line-height: 1.6;
  }
}

.images-hover {
  transition: 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

@include mobile {
  .demo-btn {
    margin-top: 0.8rem;
  }
}
