@import "media-queries";

.skills {
  background-color: $very-light-blue;
}

@include mobile {
  .skills-container {
    padding: 0;
  }
}

.skills-container {
  background-color: white;
  border-radius: 2rem;
  margin: 0 auto;
  box-shadow: 0 0 5px 0px $navy;

  .icon-container {
    width: 5.5rem;
    height: 6rem;
    text-decoration: none;
    color: $black;

    img {
      width: 60px;
      height: 60px;
      transition: 0.3s ease-in-out;

      &:hover {
        transform: translateY(-10px);
      }
    }

    p {
      text-transform: capitalize;
      margin-top: 20px;
      color: $navy;
      transition: 0.3s ease-in-out;
      font-size: 0.8rem;

      &:hover {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}

.skillsets {
  padding: 20px;
  text-align: center;
  background: #fff;
}
