@import "navbar";
@import "hero";
@import "skills";
@import "projects";
@import "about";
@import "contact";
@import "footer";

@import "utilities";
@import "colors";
@import "media-queries";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background-color: $white;
  color: $black;
  letter-spacing: 0.1rem;
}

.scroll-transition__smooth {
  transition: ease 0.3s;
}

.btn-navy {
  background-color: $navy;
  color: $white;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;

  &:hover {
    background-color: $white;
    color: $navy;
    box-shadow: 0 0 2px 2px $navy;
  }
}

/* Scroll to top button */
.scrollToTopBtn {
  position: fixed;
  top: 90vh;
  right: 1vw;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover {
    color: rgba(0, 0, 0, 0.637);
  }
}
