.btn-navy {
  background-color: #0c234a;
  color: #fff;
}

.navbar {
  background-color: #0c234a;
}

.navbar .navbar-brand {
  margin-left: 20px;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 0.2rem;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.navbar .navbar-brand:hover {
  color: #e3e3e3;
}

.navbar .navbar-toggler {
  margin-right: 20px;
  background-color: #c0c0c0;
}

.navbar .navbar-nav .nav-link {
  font-size: 18px;
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #e3e3e3;
}

a.email-nav__link {
  padding: 10px;
  display: block;
  max-width: 140px;
  color: #368ed5;
  background-color: #fff;
  border-radius: 25px;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

a.email-nav__link:hover {
  background-color: rgba(255, 255, 255, 0.85);
  color: #368ed5;
}

@media screen and (max-width: 768px) {
  .toggler-lg {
    display: none;
  }
}

.hero {
  height: 100vh;
  position: relative;
  background-color: #0c234a;
}

.hero .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1rem;
}

.hero .container p {
  font-size: 20px;
}

.hero .hero-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.hero .hero-content .hero-text__bg {
  color: #fff;
  text-align: left;
}

.hero .hero-content .hero-text__bg h1 {
  font-size: 5rem;
}

.hero .hero-content .hero-text__bg .contact-email {
  text-align: -webkit-center;
}

.hero .hero-content .hero-text__bg .contact-email a {
  font-size: 1rem;
  font-weight: 600;
  color: #0c234a;
  background-color: #fff;
  text-decoration: none;
  padding: 1rem;
  border-radius: 4rem;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.hero .hero-content .hero-text__bg .contact-email a:hover {
  background-color: #0c234a;
  color: #fff;
  -webkit-box-shadow: 0 0 2px 2px #fff;
          box-shadow: 0 0 2px 2px #fff;
}

@media screen and (max-width: 285px) {
  .hero .hero-content {
    margin-top: 1.4rem;
  }
}

@media screen and (max-width: 992px) {
  .hero .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.skills {
  background-color: #dde6f5;
}

@media screen and (max-width: 393px) {
  .skills-container {
    padding: 0;
  }
}

.skills-container {
  padding: 1rem;
  background-color: white;
  border-radius: 2rem;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 5px 0px #0c234a;
          box-shadow: 0 0 5px 0px #0c234a;
}

.skills-container .icon-container {
  width: 5.5rem;
  height: 6rem;
  text-decoration: none;
  color: #000;
}

.skills-container .icon-container img {
  width: 60px;
  height: 60px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.skills-container .icon-container img:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.skills-container .icon-container p {
  text-transform: capitalize;
  margin-top: 20px;
  color: #0c234a;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  font-size: 0.8rem;
}

.skills-container .icon-container p:hover {
  color: rgba(0, 0, 0, 0.6);
}

.skillsets {
  padding: 20px;
  text-align: center;
  background: #fff;
}

.projects {
  background-color: rgba(255, 255, 255, 0.082);
}

h2 {
  font-weight: 700;
}

.projects-container {
  border-radius: 5px;
  padding: 40px;
  background-color: #0c234a;
  letter-spacing: 1px;
}

.projects-container__inner {
  padding: 20px;
  background-color: #dde6f5;
  line-height: 1.6;
}

.images-hover {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.images-hover:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 393px) {
  .demo-btn {
    margin-top: 0.8rem;
  }
}

.about {
  background-color: #dde6f5;
}

h2 {
  font-weight: 700;
}

.content-row {
  line-height: 1.8;
}

p.cv-text {
  font-size: 18px;
  color: #2020b3;
}

.download-icon {
  margin-left: 10px;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media screen and (max-width: 767px) {
  .about-text {
    margin-top: 1rem;
    padding: 0 1rem;
  }
}

.social-links__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-links__div .display-block__div {
  display: block;
}

.social-links {
  margin: 10px;
  color: #000;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.social-links:hover {
  color: rgba(0, 0, 0, 0.637);
}

.footer {
  background-color: #0c234a;
}

.footer div p {
  color: #fff;
}

.footer div a {
  color: #fff;
}

.footer div a:hover {
  color: #c0c0c0;
}

.btn-navy {
  background-color: #0c234a;
  color: #fff;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html.sr .load-hidden {
  visibility: hidden;
}

body {
  font-family: "Roboto Flex", sans-serif;
  background-color: #fff;
  color: #000;
  letter-spacing: 0.1rem;
}

.scroll-transition__smooth {
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.btn-navy {
  background-color: #0c234a;
  color: #fff;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-navy:hover {
  background-color: #fff;
  color: #0c234a;
  -webkit-box-shadow: 0 0 2px 2px #0c234a;
          box-shadow: 0 0 2px 2px #0c234a;
}

/* Scroll to top button */
.scrollToTopBtn {
  position: fixed;
  top: 90vh;
  right: 1vw;
  border: none;
  border-radius: 50%;
  color: black;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.scrollToTopBtn:hover {
  color: rgba(0, 0, 0, 0.637);
}
